html {
  font-family: verdana;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: aquamarine;
  text-size: 16px;
}

#video {
  text-align: center;
}

#footer {
  text-align: center;
}
